requests
tqdm
requirements
tdmu
proot
echo
clang
wget
su
rootfs
termux-setup-storage
nano
zip
zlib64
telnet
lib32
lib64
armeabi-32
armeabi-64
octa-core
lib.so
lib.xml
sdk.so
maliciuos
carwl
gavin
ndkroot
LICENSE
Apache2
Apache3
